
body {
  margin: 0px;
}

h1 {
  color: #FCFCFF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 64px;
  margin: 0px;
  letter-spacing: 5px;
  line-height: 115px;
}

h2 {
  color: #54759F;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 54px;
  margin: 0px;
  letter-spacing: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  color: #54759F;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin: 0px;
  font-size: 16px;
}

h4 {
  color: #54759F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0px;
  margin-top: 14px;
  font-size: 16px;
}

h5 {
  color: #54759F;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin: 15px 0px;
  font-size: 14px;
}

p {
  color: #8E8A95;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #8E8A95;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0px;
  letter-spacing: 1px;
  padding: 0px;
}

i {
  color: #FCFCFF;
  font-size: 36px !important;
  margin-right: 90px;
}

i:hover {
  color: #c97dba;
  transition: 1s linear;
}

#color {
  color: #c97dba ;
}

/* Navbar */

.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #FCFCFF;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

div.logo {
  color: #54759F;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
}

.navbar-right {
  margin-right: 40px;
}

.navbar-menu {
  color: #8E8A95;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0px;
  letter-spacing: 1px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

.item {
  list-style-type: none;
}

li a.current {
  color: #c97dba;
}

/* Welcome */

#welcome {
  background: linear-gradient(160deg, #628395 0%, #3F63B1 159%);
  height: 100vh;
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.first-header {
  padding-top: 220px;
  text-align: center;
}

.second-header {
  padding-left: 460px;
  margin-bottom: 200px;
}

a#resume {
  color: white;
  background-color: #c97dba;
  align-items: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  border: 1px solid #c97dba;
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
  transition: 0.3s linear;
  text-align: center;
  padding: 20px 15px;
}

#resume {
  margin-top: 40px;
}

#resume:hover {
  background-color: #30917b;
  border: 1px solid #30917b;
}


/* About Me */

.about-me {
  background-color: #FCFCFF;
  width: 100%;
}

.header {
  margin-right: 40px;
  margin-left: 40px;
}

.about-me-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.description {
  margin-right: 90px;
  margin-left: 140px;
  font-size: 14px;
/*  border-bottom: 1px solid #46C089;*/
}

.picture {
  margin-right: 90px;
  border-radius: 5px;
}


/* Experiences */

#experiences {
  background-color: rgba(63, 99, 177, 0.1);
  width: 100%;
}

.exp-timeline {
  display: flex;
  align-items: center;
  margin-right: 90px;
  margin-left: 140px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.timeline-description {
  font-size: 14px;
  max-width: 370px;
  line-height: 1.8;
  display: block;
}

.timeline-border {
  font-size: 10px;
  color: #c97dba;
  margin-right: 5px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 12px;
}

i.fas.fa-circle {
  margin-right: 0px;
  color: #c97dba;
  font-size: 14px !important;
}

span.border-line {
  display: inline-block;
  background: #c97dba;
  height: 1px;
  width: 380px;
  margin-left: 4px;
}


/* Skills */

#skills {
  background-color: #FCFCFF;
  // height: 800px;
  width: 100%;
}

.skills-overview {
  margin-right: 90px;
  margin-left: 140px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.skills-section {
  display: flex;
  justify-content: space-around;
}

.skill {
  width: 100px;
  height: 100px;
  margin: 20px;
}


/* Projects */

#projects {
  background-color: rgba(63, 99, 177, 0.1);
  width: 100%;
}

.projects-overview {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  padding-top: 20px;
}

.project {
  margin: 20px;
}

#project-box {
  box-shadow: 0 10px 30px rgba(0,0,0,.1)

}


/* Contact */

#contact {
  background: linear-gradient(160deg, #628395 0%, #3F63B1 159%);
}

#footer {
  color: #FCFCFF;
}

.contacts {
  display: flex;
  align-items: center;
}

.contact-overview {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 140px;
  margin-right: 90px;
}

