h1 {
  color: #192A51;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: middle;
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0px;
  padding-top: 80px;
}

h2 {
  color: #FCFCFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 7.3px;
  margin: 0px;
}

p {
  color: #FCFCFF;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  margin: 0px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #FCFCFF;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
}

a:hover {
  text-decoration: none !important;
  color: #F43926;
  cursor: pointer
}

i {
  color: #C65411;
  font-size: 24px;

}

i:hover {
  color: #192A51;
  cursor: pointer;
}

body {
  background: #85BDBF;
}

.header {
  margin-top: 50px;
}

/* Navbar */

.navbar {
  background: #85BDBF;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

div.logo {
  color: #FCFCFF;
  background: transparent !important;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  font-weight: bolder;
}

.navbar-right {
  margin-right: 40px;
}

.navbar-menu {
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.item {
  list-style-type: none;
}

li.item {
  padding-right: 15px;
}

li a.current {
  color: #F43926;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.dropdown {
  display: none;
}

.dropdown-menu {
  background: #0E1E44;
  border: none;
}

a.dropdown-item {
  color: #FCFCFF;
  font-size: 16px;
}

a.dropdown-item.current {
  color: #F43926 !important;
}

i#dropdown:hover {
  transition: 0s linear;
}

#dropdownMenuButton {
  cursor: pointer !important;
}


@media(max-width: 767px) {
 li a {
  font-size: 18px;
 }
 li.item {
  padding-right: 8px;
 }
 .navbar-right {
  margin-right: 0px;
 }
 ul.navbar-menu {
  padding-inline-start: 10px;
 }
}

@media(max-width: 516px) {
 .navbar-right {
  display: none;
 }
 .dropdown {
  display: block;
 }
}


/* welcome */

#welcome {
  text-align: center;
}

.subheader {
  letter-spacing: 4.5px;
}

.subheaders {
  margin-top: 1em;
}

.contact-icons {
  margin-top: 1em;
}

#contact-icon {
  margin: 0em 1em;
}

@media(max-width: 991px) {
  h1 {
    font-size: 85px;
  }
  h3 {
    font-size: 40px;
  }
}

@media(max-width: 767px) {
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 30px;
  }
}

@media(max-width: 516px) {
  h1 {
    font-size: 45px;
  }
  h3 {
    font-size: 25px;
  }
}



