* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .items-start {
    align-items: start;
  }
  .items-center {
    align-items: center;
  }
  .items-end {
    align-items: end;
  }
  
  .justify-start {
    justify-content: start;
  }
  
  .justify-center {
    justify-content: center;
  }
  .justify-end {
    justify-content: end;
  }
  .justify-around {
    justify-content: space-around;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-evenly {
    justify-content: space-evenly;
  }
  
  .gap-1 {
    gap: 0.375rem;
  }
  .gap-x-1 {
    column-gap: 0.375rem;
  }
  .gap-y-1 {
    row-gap: 0.375rem;
  }
  
  .gap-2 {
    gap: 0.75rem;
  }
  .gap-x-2 {
    column-gap: 0.75rem;
  }
  .gap-y-2 {
    row-gap: 0.75rem;
  }
  
  .gap-3 {
    gap: 1.5rem;
  }
  .gap-x-3 {
    column-gap: 1.5rem;
  }
  .gap-y-3 {
    row-gap: 1.5rem;
  }
  
  .gap-4 {
    gap: 2.25rem;
  }
  .gap-x-4 {
    column-gap: 2.25rem;
  }
  .gap-y-4 {
    row-gap: 2.25rem;
  }
  
  .gap-5 {
    gap: 4.5rem;
  }
  .gap-x-5 {
    column-gap: 4.5rem;
  }
  .gap-y-5 {
    row-gap: 4.5rem;
  }
  
  .grid {
    display: grid;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .col-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .col-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .col-6 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .col-7 {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .col-8 {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .col-9 {
      grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .col-10 {
      grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    .col-11 {
      grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    .col-12 {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .col-none {
      grid-template-columns: none;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .col-md-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-md-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-md-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-md-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .col-md-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .col-md-6 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .col-md-7 {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .col-md-8 {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .col-md-9 {
      grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .col-md-10 {
      grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    .col-md-11 {
      grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    .col-md-12 {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .col-md-none {
      grid-template-columns: none;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .col-lg-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-lg-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-lg-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-lg-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .col-lg-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .col-lg-6 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .col-lg-7 {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .col-lg-8 {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .col-lg-9 {
      grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .col-lg-10 {
      grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    .col-lg-11 {
      grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    .col-lg-12 {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .col-lg-none {
      grid-template-columns: none;
    }
  }
  
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .col-xl-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-xl-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-xl-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-xl-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .col-xl-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .col-xl-6 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .col-xl-7 {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .col-xl-8 {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .col-xl-9 {
      grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .col-xl-10 {
      grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    .col-xl-11 {
      grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    .col-xl-12 {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .col-xl-none {
      grid-template-columns: none;
    }
  }
  
  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    .col-xxl-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-xxl-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-xxl-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-xxl-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .col-xxl-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .col-xxl-6 {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .col-xxl-7 {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .col-xxl-8 {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    .col-xxl-9 {
      grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    .col-xxl-10 {
      grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    .col-xxl-11 {
      grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    .col-xxl-12 {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .col-xxl-none {
      grid-template-columns: none;
    }
  }
  